# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.dart_tool/package_config.json

# Android
android/.gradle/
android/app/build/
android/build/
*.jks
*.keystore
local.properties

# Windows
build/

# IDE
.idea/
.vscode/
*.iml
*.ids
